@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono";

}

p {
    font-size: 14px;
    color: rgba(13, 19, 33, 1);
    margin-bottom: 30px;
    line-height: 1.5;
    line-break: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px 30px 150px;

}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 10px;
}

h1 {
    font-size: 20px;
    font-weight: 900;
}

nav h2 {
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #9297a3;
    padding: 10px 20px;
    border-radius: 8px;
}

main {
    height: 95vh;
    width: 100%;
    text-align: center;
}

.hero-heading {
    font-size: 45px;
    margin-bottom: 20px;
}

.main-bg--img {
    background-image: url(./assets/Hero-bg.png);
    width: 100%;
    height: 652px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

main img {
    padding: 40px 0 20px 0;
}

.main-btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.why-section {
    padding: 8rem 12rem;
}

.why-heading {
    text-align: center;
}

.web-dev-box {
    display: flex;
}

.web-dev-box h2 {
    color: rgba(13, 19, 33, 0.7);
}

.heading {
    text-align: center;
}

.heading h2 {
    margin: 8px 0 16px 0;
}

.heading p {
    margin-bottom: 40px;
}

.why-section,
.inspiration,
.current-page,
.next-terget {
    margin: 0 auto;
    padding: 40px 130px 15px 130px;
}

.why-div {
    background-color: #f8f6ec79;
    padding: 50px 70px;
    justify-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.box-shadow {
    background-color: white;
    margin-bottom: 30px;
    padding: 48px;
    gap: 160px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.gap {
    gap: 20px;
}

.learn-more {
    font-size: 15px;
    background-color: white;
    color: rgba(13, 19, 33, 1);
    padding: 5px 10px;
    border: 2px solid rgb(130, 120, 120);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}


.vedio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.vedio {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    justify-content: center;
    gap: 20px;

    align-items: center;
}

.grid-box {
    padding: 40px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.grid-img h3 {
    margin: 15px 0 15px 0;
}

.grid-box:nth-child(1) {
    background-color: rgba(255, 76, 30, 0.05);
}

.grid-box:nth-child(2) {
    background-color: rgba(0, 76, 232, 0.05);
}

.grid-box:nth-child(3) {
    background-color: rgba(255, 223, 0, 0.05);
}

.grid-btn {
    color: black;
    font-weight: 700;
    background: transparent;
}

.next-box {
    display: flex;
    padding: 25px;
    border: 1px solid rgba(221, 208, 208, 0.639);
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.next-img {
    padding: 20px 20px 0 0;
}

.need-support {
    margin: 0 auto;
    padding: 40px 150px 15px 150px;
    margin-top: 50px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./assets/handshake.jpg);
    width: 1050px;
    height: 300px;
    background-position: center -160px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;

}

.need-support h4 {
    color: white;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px black;
}

.need-support p {
    color: white;
    font-size: 16px;
}

.input {
    display: flex;
    align-items: center;
    gap: 12px;
}

.input .text {
    width: 548px;
    height: 57px;
    background-color: white;
    padding-left: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.input .submit {
    width: 120px;
    height: 57px;
    font-weight: 700;
    font-size: 20px;
    background-color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.input .text::placeholder {
    font-size: 16px;
}

footer {
    background-color: rgba(13, 19, 33, 0.03);
    height: 100px;
    margin-top: 50px;
}

footer h5 {
    font-size: 16px;
    font-weight: 600;
}

.footer-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;


}

.social-icons {
    display: flex;
    gap: 15px;
}

@media only screen and (max-width: 768px) {

    nav {
        padding: 20px 50px;
    }

    .why-section,
    .inspiration,
    .current-page,
    .next-terget {
        padding: 20px 50px 15px 50px;
    }

    .box-shadow {
        padding: 24px;
        gap: 80px;
    }

    .grid-three--cols {
        grid-template-columns: 1fr;
    }

    .need-support {
        width: 90%;
        height: auto;
    }

    .need-support h4 {
        font-size: 18px;
    }

    .need-support p {
        font-size: 12px;
    }

    .need-support input .text::placeholder {
        font-size: 10px;

    }
}

/* For mobile devices */
@media only screen and (max-width: 480px) {
    nav {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        justify-content: space-between;

    }

    p {
        font-size: 10px;
    }

    nav h1,
    nav h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    nav h2 {
        padding: 5px 10px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .hero-heading {
        font-size: 20px;
    }

    .why-section,
    .inspiration,
    .current-page,
    .next-terget {
        padding: 10px 20px 15px 20px;
    }

    .box-shadow {
        padding: 12px;
        gap: 40px;
        flex-direction: column;
    }

    .vedio-container {
        justify-content: center;
        padding: 10px 10px;
    }

    .vedio {
        height: 200px;
    }

    .grid-three--cols {
        grid-template-columns: 1fr;
    }

    .grid-box {
        padding: 20px 10px;
    }

    .next-box {
        flex-direction: column;
        padding: 10px;
    }

    .next-img {
        padding: 10px 0 0 0;
    }

    .need-support {
        padding: 20px;
        width: 100%;
        height: auto;
    }

    .input .text {
        width: 160px;
        height: 50px;

        &::placeholder {
            font-size: 10px;
            text-wrap: wrap;
            padding: 3px 5px;
        }
    }

    .need-support {
        margin: 0 auto;
        padding: 40px 150px 15px 15px;
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./assets/handshake.jpg);
        width: 100%;
        height: auto;
        background-position: center -16px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;

    }

    .need-support h4 {
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 1px;
        text-shadow: 1px 1px 5px black;
    }

    .need-support p {
        color: white;
        font-size: 8px;
    }

    .input input {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .input .submit {
        width: 80px;
        height: 50px;
        font-size: 10px;
    }

    footer {
        padding: 5px 20px 5px 20px;
    }

    footer h5 {
        font-size: 10px;
        font-weight: 400;
        text-wrap: wrap;
    }

    .footer-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 40px;
        gap: 20px;


    }

    .social-icons a img {
        width: 80%;
        height: auto;
    }
}